/* Header.css */
.header {
    display: flex;
    justify-content: center; /* Centers content horizontally */
    align-items: center; /* Centers content vertically (optional if needed) */
    height: 60px; /* Adjust height as needed */
    background-color: aquamarine;
    font-family: fantasy;
    
  }
  
  .header-title {
    color: blue;
  }